.main {
  width: 100%;

  @media screen and (min-width: 1920px) {
    width: 1280px;
  }
}

.titleRow {
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  display: flex;
  align-items: center;
}

.categories {
  display: none;

  @media screen and (min-width: 600px) {
    display: block;
  }
}

.listContainer {
  display: flex;
  flex-direction: column;
}
